@charset "urf-8";
#wrap{min-width: 400px;}
#header{
    display: flex; justify-content: space-between; align-items: flex-end; background-color: #fff;
    text-transform: capitalize; padding: 1rem 2rem; box-sizing: border-box;}
#header h1{text-transform: uppercase; font-size: 2.4rem; font-weight: 700; color: #E53A40;}
#header ul{display: flex;}
#header ul li:nth-child(2){margin: 0 1rem;}
#header ul li a{
    padding: .5rem 1rem; position: relative; overflow: hidden; 
    font-size: 1.4rem; font-weight: 400;}
#header ul li a::after{
    display: block; content:""; position: absolute; top: 0; left: 0; opacity: .8;
    width: 0%; height: 100%; background: #E53A40; transition: width .2s; z-index: -1;}
#header ul li:hover a{color: #fff;}
#header ul li:hover a::after{width: 100%;}

#header.fix{position: fixed; top: 0; left: 0; width: 100%; z-index: 1;}
#header.fix ul li a::after{z-index: -1;}

#main{
    display: flex; width: 100%; height: 100vh; flex-direction: column;
    justify-content: center; align-items: center;}
#main h2{font-size: 5rem; font-weight: 500;}
#main p{font-size: 1.8rem; font-weight: 400; padding-top: 2rem;}

/* #about{display: none;} */
#about{padding: 5rem;}
#about .inner-wrap{display: flex; justify-content: space-around; align-items: flex-start;}
#about figure{max-width: 50%;}
#about figure img{width: 100%; margin: 0 auto;}
#about .info{margin-left: 4%;}
#about .sns-wrap a{display: inline-block;}
#about .sns-wrap a i{color: rgb(179, 64, 83); width: 2rem;}
#about .about-me{margin-top: 5rem;}

#portfolio .inner-wrap{
    padding: 5rem; justify-content: center;
    grid-template-columns: 50% 50%;
    display: grid; gap: .5rem; margin: 0 auto;}
#portfolio .inner-wrap >div{
    background-repeat: no-repeat; background-position: center center;
    background-color: silver; background-size: 100px;
    width: 100%; position: relative; overflow: hidden;}
#portfolio .inner-wrap >div.img-box{background-size: cover;}
#portfolio .inner-wrap >div::before{content: ""; padding-top: 150%; display: block;}

#portfolio .inner-wrap .lissome{background-image: url(../images/lissom.png);}
#portfolio .inner-wrap .WMM{background-color: rgb(43, 128, 86);background-image: url(../images/월드멀티미디어.png);}
#portfolio .inner-wrap .kakao-talk{background-color: #f9e000; background-image: url(../images/kakaotalk.png);}
#portfolio .inner-wrap .id-hair{background-image: url(../images/id헤어.png);}
#portfolio .inner-wrap .id-hospital{background-image: url(../images/id성형외과.gif); background-color: #0f182f;}
#portfolio .inner-wrap .hanssem{background-image: url(../images/한샘.png); background-color: #fff;}
#portfolio .inner-wrap .ohora{background-image: url(../images/ohora.jpg);}
#portfolio .inner-wrap .pub-g{background-image: url(../images/PUBG.png); background-color: #252525;}

#portfolio .inner-wrap >div.on .box{visibility: visible; margin: 0;}
#portfolio .inner-wrap .box{
    position: absolute; top: 0; left: 0;  width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, .8); flex-direction: column;
    display: flex; align-self: center; justify-content: space-between;
    box-sizing: border-box; padding: 2rem;
    margin-left: -40%; visibility: hidden; transition: margin .2s;}
#portfolio .inner-wrap .box *{color: #fff; text-align: center; font-size: 1.4rem;}
#portfolio .inner-wrap .box h3{font-size: 1.8rem; font-weight: 500; text-transform: capitalize;}
#portfolio .inner-wrap .box .hashtag li::before{display: inline-block; content:"#"; margin-right: .5rem;}
#portfolio .inner-wrap .box .hide-btn{
    position: absolute; top: 1rem; right: 1rem; width: 15px; height: 15px; margin: 0;}
#portfolio .inner-wrap .box .hide-btn span{
    width: 15px; height: 2px; transform: rotate(45deg);
    background: #fff; position: absolute; top: .6rem; right: 0rem;}
#portfolio .inner-wrap .box .hide-btn span:last-child{transform: rotate(-45deg);}

#ddd{position: fixed; top: 0; left: 0; z-index: 999; font-weight: 600; font-size: 2rem;}

@media all and (max-width: 480px){
    #portfolio .inner-wrap{grid-template-columns: 30% 30% 30%;}
}

@media all and (min-width: 480px) and (max-width: 767px){
    #portfolio .inner-wrap{
        max-width: 600px; grid-template-columns: 30% 30% 30%;}
}

@media all and (min-width: 767px) and (max-width: 1024px){
    #portfolio .inner-wrap{
        max-width: 700px;
        grid-template-columns: 25% 25% 25% 25%;}
    #portfolio .inner-wrap .box h3{font-size: 2rem;}
    #portfolio .inner-wrap .box *{font-size: 1.8rem;}
    #portfolio .inner-wrap .box .hashtag li{height: 3rem; line-height: 3rem;}
}

@media all and (min-width: 1024px){
    #portfolio .inner-wrap{
        max-width: 900px;
        grid-template-columns: 20% 20% 20% 20% 20%;}
    #portfolio .inner-wrap .box h3{font-size: 2rem;}
    #portfolio .inner-wrap .box *{font-size: 1.8rem;}
    #portfolio .inner-wrap .box .hashtag li{height: 3rem; line-height: 3rem;}
}
