@charset "urf-8";
#header{
    display: flex; justify-content: space-between; align-items: flex-end; background-color: #fff;
    text-transform: capitalize; padding: 1rem 2rem; box-sizing: border-box; z-index: 1;}
#header h1 a{text-transform: uppercase; font-size: 2.4rem; font-weight: 700; color: #E53A40;}
#header ul{display: flex;}
#header ul li:nth-child(2){margin: 0 1rem;}
#header ul li a{
    padding: .5rem 1rem; position: relative; overflow: hidden; 
    font-size: 1.4rem; font-weight: 400;}
#header ul li a::after{
    display: block; content:""; position: absolute; top: 0; left: 0; opacity: .8;
    width: 0%; height: 100%; background: #E53A40; transition: width .2s; z-index: -1;}

#header ul li:hover a{color: #fff;}
#header ul li:hover a::after{width: 100%;}

#header.fix{position: fixed; top: 0; left: 0; width: 100%; z-index: 1;}

#main{
    display: flex; width: 100%; height: 100vh; flex-direction: column;
    justify-content: center; align-items: center;}
#main h2{font-size: 5rem; font-weight: 500;}
#main p{display: inline-block;}
#main p span{
    border-right:2px solid #000;
    overflow:hidden;
    white-space:nowrap;
    animation: typing 3s steps(14) forwards, 
                blink-caret .8s step-end infinite;
}
@keyframes blink-caret{
    from, to{border-color:transparent;}
    50%{border-color:#000}
}@keyframes typing{
    0%{width:0%;}
    100%{width:100%}
}

.inner-wrap{margin: 0 auto;}

#about{
    padding: 5rem; min-height: 100vh;
    display: flex; flex-direction: column; justify-content: center;}
#about figure{max-width: 300px;}
#about figure img{width: 100%; margin: 0 auto;}
#about .info{margin-top: 10rem;}
#about .sns-wrap a{display: inline-block;}
#about .sns-wrap a i{color: rgb(179, 64, 83); width: 2rem;}
#about .info{margin-top: 10rem;}
#about .about-me{margin: 10rem auto 0;}
#about video{width: 100%; max-width: 900px; margin: 5rem auto 0; display: block;}

#portfolio{min-height: 100vh;}
#portfolio .inner-wrap{
    padding: 5rem; justify-content: center;
    grid-template-columns: 50% 50%;
    display: grid; gap: .5rem;}
#portfolio .inner-wrap >div{
    background-repeat: no-repeat; background-position: center center;
    background-color: silver; background-size: 100px; transition: background-size .2s ease-in;
    width: 100%; position: relative; overflow: hidden;}
#portfolio .inner-wrap >div::before{content: ""; padding-top: 150%; display: block;}
#portfolio .inner-wrap >div:hover{background-size: 120px;}
#portfolio .inner-wrap >div.img-box{background-size: 200%; background-position: center top; transition: background-position .2s;}
#portfolio .inner-wrap >div.img-box:hover{background-position: center bottom;}

#portfolio .inner-wrap .lissome{background-image: url(../images/lissom.png);}
#portfolio .inner-wrap .WMM{background-color: rgb(43, 128, 86);background-image: url(../images/월드멀티미디어.png);}
#portfolio .inner-wrap .kakao-talk{background-color: #f9e000; background-image: url(../images/kakaotalk.png);}
#portfolio .inner-wrap .id-hair{background-image: url(../images/id헤어.png);}
#portfolio .inner-wrap .id-hospital{background-image: url(../images/id성형외과.gif); background-color: #0f182f;}
#portfolio .inner-wrap .hanssem{background-image: url(../images/한샘.png); background-color: #fff;}
#portfolio .inner-wrap .ohora{background-image: url(../images/ohora.jpg);}
#portfolio .inner-wrap .pub-g{background-image: url(../images/PUBG.png); background-color: #252525;}
#portfolio .inner-wrap .brity{background-image: url(../images/brity.PNG); background-size: cover}
#wrap #portfolio .inner-wrap .brity{background-size: cover}
#portfolio .inner-wrap .brity:hover{background-position: bottom;}
#portfolio .inner-wrap .dunbar{background-image: url(../images/DB-bg.jpg);}
#wrap #portfolio .inner-wrap .dunbar{background-size: cover}
#portfolio .inner-wrap .dunbar::after{
    position: absolute; top: 0; left: 0;
    display: flex; justify-content: center; align-items: center; 
    content:""; width: 100%; height: 100%; transition: .2s;
    background: url(../images/logo-type-logo-white.svg) no-repeat;
    background-size: 100px; background-position: center center;}
#portfolio .inner-wrap .dunbar:hover::after{background-size: 120px;}
#portfolio .inner-wrap .sopia{
    background: linear-gradient(-135deg,  rgba(223, 137, 181, .7) 0%, rgba(191, 217, 354, .7) 100%);}
#portfolio .inner-wrap .sopia::after{
    position: absolute; top: 0; left: 0;
    background:rgba(0, 0, 0, .1); z-index: 0;
    display: flex; justify-content: center; align-items: center; 
    content:"SOPIA"; width: 100%; height: 100%; transition: .2s; 
    color: #fff; font-size: 2.4rem; font-weight: 600;}
#portfolio .inner-wrap .sopia:hover{background-size: 100%;}
#portfolio .inner-wrap .sopia:hover:after{font-size: 3rem;}

#portfolio .inner-wrap >div.on .box{visibility: visible; margin: 0;}
#portfolio .inner-wrap .box{
    position: absolute; top: 0; left: 0;  width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, .8); flex-direction: column;
    display: flex; align-self: center; justify-content: space-between;
    box-sizing: border-box; padding: 2rem; z-index: 1;
    margin-left: -40%; visibility: hidden; transition: margin .2s;}
#portfolio .inner-wrap .box *{color: #fff; text-align: center; font-size: 1.4rem;}
#portfolio .inner-wrap .box h3{font-size: 1.8rem; font-weight: 500; text-transform: capitalize;}
#portfolio .inner-wrap .box .hashtag li::before{display: inline-block; content:"#"; margin-right: .5rem;}
#portfolio .inner-wrap .box .hide-btn{
    position: absolute; top: 1rem; right: 1rem; width: 15px; height: 15px; margin: 0;}
#portfolio .inner-wrap .box .hide-btn span{
    width: 15px; height: 2px; transform: rotate(45deg);
    background: #fff; position: absolute; top: .6rem; right: 0rem;}
#portfolio .inner-wrap .box .hide-btn span:last-child{transform: rotate(-45deg);}

#footer{background-color: #e53a4036; padding: 5rem 0; text-align: center;}
#footer p{font-size: 3rem; font-weight: 700; text-transform: uppercase;}
#footer ul{display: flex; justify-content: center; margin-top: 2rem;}
#footer ul li:last-child{margin-left: 4rem;}
#footer ul li a{text-decoration: underline;}

@media all and (min-width: 480px) and (max-width: 767px){
    #about .inner-wrap{max-width: 600px;}
    #about .about-me{max-width: 600px;}
    #portfolio .inner-wrap{
        max-width: 600px; grid-template-columns: 30% 30% 30%;}
}

@media all and (min-width: 767px){
    #about .info{margin-left: 4%; margin-top: 0;}
    #about .inner-wrap{display: flex; justify-content: center; align-items: flex-start;}
}

@media all and (min-width: 767px) and (max-width: 1024px){
    #about .inner-wrap{max-width: 700px;}
    #about .about-me{max-width: 700px;}
    #portfolio .inner-wrap{
        max-width: 700px;
        grid-template-columns: 25% 25% 25% 25%;}
    #portfolio .inner-wrap .box h3{font-size: 2rem;}
    #portfolio .inner-wrap .box *{font-size: 1.8rem;}
    #portfolio .inner-wrap .box .hashtag li{height: 3rem; line-height: 3rem;}
}

@media all and (min-width: 1024px){
    #about .inner-wrap{max-width: 900px;}
    #about .about-me{max-width: 900px;}
    #portfolio .inner-wrap{
        max-width: 900px;
        grid-template-columns: 20% 20% 20% 20% 20%;}
    #portfolio .inner-wrap .box h3{font-size: 2rem;}
    #portfolio .inner-wrap .box *{font-size: 1.8rem;}
    #portfolio .inner-wrap .box .hashtag li{height: 3rem; line-height: 3rem;}
}
