@charset "utf-8";
@viewport {width : device-width;}

body { -webkit-text-size-adjust : none;} /* 폰트의 사이즈를 늘어나지 않도록 한다 */
body { -webkit-text-size-adjust : auto } /* 기존과 똑같이 작동하도록 한다 */
body { -webkit-text-size-adjust : 120% } /* 폰트를 기존 사이즈와 동일하게 한다 */ 

#wrap{max-width: 600px; font-size:14px;}


header {
    height: 38px; width:100%; background: #fff; 
    position: fixed; z-index: 1; display: flex;}
header >div{padding:14px 18px 0 18px;}
header i{font-size: 14px; color:#616161; margin-left: 10px;}

header div{display: flex;} 
header .header_center{width:calc(100% - 174px); font-size:0;}

header .agency{
    background-image: url(../images/Uplus_ico.png); width:18px; height: 18px; 
    display: block; margin:0;} 
header .battery{margin-top: 1px}
header .time{margin-top:2px}

.content .header{width: 100%; display: flex; padding-top: 24px;}
.content .header ul li{float: left; margin: 27px 18px 0 0; width:26px; height: 26px;}
.content .header ul li:last-child{margin: 27px 0 0 0;}
.content .header ul li a{width: 100%;}
.content .header ul i{font-size: 18px; color:#2c2c2c;}
.content .header h1{
    font-size: 1.3em; font-weight: 600; padding-top: 22px; width:calc(100% - 158px);}

.content {width:calc(100% - 36px); margin:0 auto;}    
.content .ad{width:100%; height: 87px; position: relative; margin-top:14px;}
.content .ad div{width: 100%; height: 75px; background: #f4f4f4;}
.content .ad div::before{
    content: ""; display: inline-block; width: 230px; height: 75px;
    background-image: url(../images/content_ad_left.png);}
.content .ad div::after{
    content: ""; display:inline-block; width: 64px; height: 75px;
    background-image: url(../images/content_ad_right.png);
    position: absolute; top:0; right: 0;}

.content .chatt{width: 100%; height: 100%;}
.content .chatt >div{display: flex; width:100%; background: #fff; margin-bottom: 14px;}
.content .chatt_text{width:calc(100% - 155px); margin-top: 9px;}
.content .chatt_text .name{font-size: 1em; font-weight: 600;}
.content .chatt_text .text{font-size: 0.9em; color:#acacac; margin-top:2px;}

.content .chatt_time{width: 100px; text-align: right;}
.content .chatt_time .time{font-size:8px; color:#bbb; margin: 10px 0 7px 0;}
.content .chatt_time .text_number{
    width:20px; height: 20px; background: #d66136; position: relative;
    border-radius: 50%; margin-left: 80px; text-align: center; }
.content .chatt_time .text_number a{
    position: absolute; top:3px; left: 7px;
    font-size: 8px; color:#ffeace;}

.chatt .img{background-image: url(../images/friend_img.png); width:55px; height: 54px; margin-right: 13px;}


/* 한줄 전체를 호버되게 하고싶어요
.content .chatt >div:hover{background:#f2f2f2;}*/


.fixed_footer {border-top: solid 1px #f4f4f4; position: fixed; bottom: 0; left: 0; width: 100%;}
.fixed_footer div{display: flex;}
.fixed_footer div a {width:25%; height: 58px; background: #f9f9f9;} 
.fixed_footer div a i { 
    margin:17px auto 0; text-align: center; 
    display: block; font-size: 20px; color:#3e3e3e;} 
 .fixed_footer .hash i{font-size: 28px; margin-top:9px;}
.fixed_footer .viewmore {position: relative;} 
.fixed_footer .viewmore i{width: 4px; height: 4px; border-radius: 50%; border: 2px solid #3e3e3e; margin:22px 0 0 42px;} 
.fixed_footer .viewmore i::after{
    width: 4.5px; height: 4px; border-radius: 50%; border: 2px solid #3e3e3e;
    display: block; content: ""; margin:-8px 0 0 10px;} 
.fixed_footer .viewmore i::before{
    width: 4.5px; height: 4px; border-radius: 50%; border: 2px solid #3e3e3e;
    display: block; content: ""; margin:-2px 0 0 -15px;} 

.fixed_footer div::before{display: block; width:2px; content: ""; height: 10px; background: rgba(0, 0, 0, 0);}


/**/

#pull {background: #fce000; height: 1080px; text-align: center; padding: 400px 0; display: none;}
#pull span {font-size: 30px; color:#111; font-weight: 600;}


@media all and (min-width:600px){
    #wrap{display: none;}
    #pull {display: block;}
} 

